<a href="https://colab.research.google.com/github/santhoshbvsrk/Machine-Learning-Projects/blob/main/LeafClassification/LeafClassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [7]:
url="https://raw.githubusercontent.com/santhoshbvsrk/Machine-Learning-Projects/main/LeafClassification/leaf_train.csv"
leaf_df=pd.read_csv(url)
leaf_df.head(3)

   id                species   margin1  ...  texture62  texture63  texture64
0   1            Acer_Opalus  0.007812  ...   0.004883   0.000000   0.025391
1   2  Pterocarya_Stenoptera  0.005859  ...   0.000977   0.039062   0.022461
2   3   Quercus_Hartwissiana  0.005859  ...   0.000000   0.020508   0.002930

[3 rows x 194 columns]

In [22]:
#identifying missing values in the dataset
missing_df=leaf_df.isna().mean().round(4)*100 
missing_df[missing_df>0]

Series([], dtype: float64)

* From this we can say that there are no missing values in dataset

In [38]:
categorical_features=leaf_df.select_dtypes(include="object").columns
print("Categorical Features are:",categorical_features)

integer_features=leaf_df.select_dtypes(include="int").columns
print("Integer Features are:",integer_features)

float_features=leaf_df.select_dtypes(include="float").columns
print("Decimal Features are:",float_features)

Categorical Features are: Index(['species'], dtype='object')
Integer Features are: Index(['id'], dtype='object')
Decimal Features are: Index(['margin1', 'margin2', 'margin3', 'margin4', 'margin5', 'margin6',
       'margin7', 'margin8', 'margin9', 'margin10',
       ...
       'texture55', 'texture56', 'texture57', 'texture58', 'texture59',
       'texture60', 'texture61', 'texture62', 'texture63', 'texture64'],
      dtype='object', length=192)

* There is only Categorical column "species" which is our target variable.
* All Features in the dataset are float values except for "id" feature.

In [45]:
leaf_df[leaf_df.duplicated(subset='id')]

Empty DataFrame
Columns: [id, species, margin1, margin2, margin3, margin4, margin5, margin6, margin7, margin8, margin9, margin10, margin11, margin12, margin13, margin14, margin15, margin16, margin17, margin18, margin19, margin20, margin21, margin22, margin23, margin24, margin25, margin26, margin27, margin28, margin29, margin30, margin31, margin32, margin33, margin34, margin35, margin36, margin37, margin38, margin39, margin40, margin41, margin42, margin43, margin44, margin45, margin46, margin47, margin48, margin49, margin50, margin51, margin52, margin53, margin54, margin55, margin56, margin57, margin58, margin59, margin60, margin61, margin62, margin63, margin64, shape1, shape2, shape3, shape4, shape5, shape6, shape7, shape8, shape9, shape10, shape11, shape12, shape13, shape14, shape15, shape16, shape17, shape18, shape19, shape20, shape21, shape22, shape23, shape24, shape25, shape26, shape27, shape28, shape29, shape30, shape31, shape32, shape33, shape34, ...]
Index: []

[0 rows x 194 columns]

* From this we can say that feature "id" is a sequence without duplicates and hence can be ignored.